:root {
  /* Primary colors */
  --clr-primary-Soft-orange: hsl(35, 77%, 62%);
  --clr-primary-Soft-red: hsl(5, 85%, 63%);

  /* Secondary colors */
  --clr-secondary-Off-white: hsl(36, 100%, 99%);
  --clr-secondary-Grayish-blue: hsl(233, 8%, 79%);
  --clr-secondary-Dark-grayish-blue: hsl(236, 13%, 42%);
  --clr-secondary-Very-dark-blue: hsl(240, 100%, 5%);

  /* Fonts */
  --ff-base: 'Inter', sans-serif;
}

/* ----- Global ----- */
html {
  font-size: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 4.5rem;
}

body {
  background-color: var(--clr-secondary-Off-white);
  font-family: var(--ff-base);
  padding: 1.25rem 1rem;
}

.container {
  max-width: 68.75rem;
  margin-inline: auto;
}

a {
  text-decoration: none;
}

/* --- Colors --- */
  /* --- Backgrounds --- */
.header, .nav__items-list {
  background-color: var(--clr-secondary-Off-white);
}

.aside {
  background-color: var(--clr-secondary-Very-dark-blue);
}

.intro__read-more-btn {
  background-color: var(--clr-primary-Soft-red);
}

.divider {
  background-color: var(--clr-secondary-Grayish-blue);
}

  /* --- Fonts' color --- */
.nav__item a,
.intro__title,
.intro__description,
.card__title a,
.card__description {
  color: var(--clr-secondary-Very-dark-blue);
}

.intro__read-more-btn,
.new__subtitle a {
  color: var(--clr-secondary-Off-white);
}

.subtitle {
  color: var(--clr-primary-Soft-orange);
}

.new__description,
.card__number {
  color: var(--clr-secondary-Grayish-blue);
}

/* --- Hover effects --- */
.nav__item a:hover,
.new__subtitle a:hover {
  color: var(--clr-primary-Soft-orange);
}

.intro__read-more-btn:hover {
  background-color: var(--clr-secondary-Very-dark-blue);
}

.card__title a:hover {
  color: var(--clr-primary-Soft-red);
}

.footer a:hover {
  opacity: .7;
}

/* ----- Layout ----- */
  /* --- Header --- */
.header {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  padding-inline: 1rem;
}

.nav-wrapper {
  padding: 1.25rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 3.125rem;
  height: 2rem;
}

.menu-btn {
  width: 2.5rem;
  height: 1rem;
  cursor: pointer;
  z-index: 1;
}

.nav-container {
  width: 0;
  height: 0;
  position: fixed;
  overflow: hidden;
}

.nav-container.active {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
}

.nav__items-list {
  width: 60%;
  height: 100%;
  list-style: none;
  margin-left: auto;
  padding-left: 2rem;
  padding-bottom: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.nav__item a {
  transition: 250ms;
}

  /* --- Main content --- */
.main {
  margin-top: 4.25rem;
}

.intro__title {
  font-size: 2.625rem;
  line-height: 1;
  margin-top: 1.75rem;
  font-weight: 800;
}

.intro__description {
  font-size: 0.9375rem;
  margin-top: 1.5rem;
}

.intro__read-more-btn {
  display: block;
  width: fit-content;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1875rem;
  margin-top: 1.75rem;
  padding: 1rem 2rem;
  transition: 250ms;
}
  /* --- Aside --- */
.aside {
  margin-top: 4rem;
  padding: 1.75rem 1.5rem;
}

.subtitle {
  font-size: 2rem;
}

.new {
  margin-top: 2rem;
}

.new__subtitle a {
  font-size: 1.25rem;
  transition: 250ms;
}

.new__description {
  font-size: 0.9375rem;
}

.divider {
  width: 100%;
  height: 0.0625rem;
  margin-top: 2.125rem;
}
  /* --- Bottom section --- */
.bottom-section {
  margin-top: 4rem;
  display: grid;
  gap: 2rem;
}

.card {
  display: grid;
  grid-template-columns: 6.25rem 1fr;
  gap: 1.25rem;
}

.card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__number {
  font-size: 2rem;
  font-weight: 700;
}

.card__title a {
  font-size: 1rem;
  font-weight: 700;
  transition: 250ms;
}

.card__description {
  font-size: 0.9375rem;
}

  /* --- Footer --- */
.footer {
  font-size: 11px;
  text-align: center;
  margin-top: 3rem;
}

.footer a {
  color: hsl(228, 45%, 44%);
  font-weight: 700;
  transition: 250ms;
}

/* ----- Responsiveness ----- */
/* 600px - Header */
@media (min-width: 37.5rem) {
  .menu-btn {
    display: none;
  }

  .nav-container {
    /* resets */
    width: unset;
    height: unset;
    background-color: unset;
    position: unset;
  }

  .nav__items-list {
    width: unset;
    padding: unset;
    flex-direction: row;
    gap: 2.5rem;

    /* resets */
    height: unset;
    margin-left: unset;
  }
}

/* 720px - Responsiveness at bottom section */
@media (min-width: 45rem) {
  .main {
    margin-top: 3rem;
    display: grid;
    gap: 1.875rem;
  }

  .intro {
    grid-column: span 2;
  }

  .aside {
    max-width: 21.875rem;
    height: 100%;
    margin: 0;
  }

  .bottom-section {
    margin-top: 4.5rem;
    grid-column: span 3;
    grid-template-columns: 1fr 1fr;
  }
}

/* 1100px - Responsiveness at bottom section */
@media (min-width: 68.75rem) {
  body {
    padding: 0;
  }

  .nav-wrapper {
    padding: 3.25rem 0;
  }

  .main {
    margin-top: 8.5rem;
  }

  .intro__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .intro__title {
    font-size: 3.5rem;
  }

  .intro__description-btn {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .bottom-section {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card:last-of-type {
    grid-column: unset;
  }
}